body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fbf4ce;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    width: 90%;
    /* height: 90%; */
}

#myphoto {
    border:  5px solid #283d6a;
    border-radius: 15px;
    margin: 30px;
    height: 200px;
    width: 200px;
}

.contact {
    background-color: rgb(175, 171, 171);
    border-radius: 10px;
    border: 3px solid #0b0b3a;
}

/* h1 {
    font-size: 2rem;
    margin-bottom: 30px;
} */

table {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    background-color: aliceblue;
    width: 90%;
    text-align: left;
    border-bottom: 5px solid #0c0c0c;
    padding: 15px;
    margin: 20px auto;
}

.inlineText{
    font-size: 16px;
}

tr {
    height: 40px;
}

.lastColumn {
    text-align: right;
}

.twoRowsCells {
    display: flex;
    align-items: start;
    justify-content: end;

}

.noPadding {
    margin: 0px;
}
/* footer {
    font-size: 2rem;
    margin: 200px auto;
    text-align: center;
    width: 90%;
    height: 90%;
} */

